<h1>Movies suggestion</h1>
<h2>Genre: {{genre}}</h2>
<div>
  <table>
    <tr>
      <th>Movie</th>
      <th>Abstract</th>
      <th>Release Date</th>
      <th>Link</th>
    </tr>
    {{#each moviesSuggestion}}
    <tr>
      <td>{{filmLabel}}</td>
      <td>{{abstract}}</td>
      <td>{{releaseDate}}</td>
      <td><a href="{{film}}">Link</a></td>
    </tr>
    {{/each}}
    {{#each moviesSuggestionBis}}
    <tr>
      <td>{{filmLabel}}</td>
      <td>{{abstract}}</td>
      <td>{{releaseDate}}</td>
      <td><a href="{{film}}">Link</a></td>
    </tr>
    {{/each}}
  </table>
</div>